/* .App {
  text-align: center;
  display: flex;
} */

.grid-container{
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 10px;
}